<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaIT Modificar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@400;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>

    <button hidden onclick="mostrarMensaje()" class="btn btn-info">Mensaje estado modificación!</button>
    <div class="mensaje" id="mensaje">
        Modificación realizada!
    </div>

    <h1 class="encabezado-img">
        <%= user %>, bienvenid@ a MaIT !
    </h1>
    <br>
    <div>
        <h2>Modificar los datos del empleado</h2>
    </div>
    <br>
    <form action="/modificarEmpleado" method="POST">
        <div class="bigContainer">
            <div class="container">
                <div class="input-group">
                    <label for="id">id:</label>
                    <input class="bigInput" type="text" id="id" name="id" maxlength="3" value="<%= id %>" disabled>
                </div>
                <div class="input-group">
                    <label for="nombre">Nombre:</label>
                    <input class="bigInput" type="text" id="nombre" name="nombre" maxlength="100" value="<%= nombre %>"
                        required>
                </div>
                <div class="input-group">
                    <label for="apellidos">Apellidos del empleado:</label>
                    <input class="bigInput" type="text" id="apellidos" name="apellidos" maxlength="100" value="<%= apellidos %>" required >
                </div>
                <div class="input-group">
                    <label for="telefono">Teléfono:</label>
                    <input class="bigInput" type="text" id="telefono" name="telefono" maxlength="9"
                        value="<%= telefono %>" required>
                </div>
                <div class="input-group">
                    <label for="puesto">Puesto:</label>
                    <input class="bigInput" type="text" id="puesto" name="puesto" maxlength="30" value="<%= puesto %>"
                        required>
                </div>
                <div class="input-group">
                    <label for="sueldo">Sueldo:</label>
                    <input class="bigInput" type="text" id="sueldo" name="sueldo" maxlength="7" value="<%= sueldo %>"
                        required>
                </div>
            </div>
            <div>
                <!-- división vacía para cumplir con lo que definimos para bigContainer es decir dos divisiones-->
            </div>
        </div>
        <br><br>
        <div class="bigContainer">
            <div>
                <input type="hidden" name="user" value="<%= user %>">
                <input type="hidden" name="id" value="<%= id %>">
                <button type="submit" onclick="mostrarMensaje()" class="btn btn-success">Modificar datos empleado</button>
                <button type="button" onclick="window.history.back()" class="btn btn-dark">Cancelar</button>
            </div>
            <div>
                <!-- división vacía para cumplir con lo que definimos para bigContainer es decir dos divisiones-->
            </div>
        </div>
    </form>
    <%- include('footer') %>
    <script>
        function mostrarMensaje() {
            var mensaje = document.getElementById('mensaje');
            mensaje.style.display = 'block'; // Mostrar el mensaje

            setTimeout(function () {
                mensaje.style.display = 'none'; // Ocultar el mensaje
            }, 3000); 
        }
    </script>
</body>

</html>